.container {
    padding-bottom: 10px;
    position: relative;
}
.top{
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 0 100px;
}
.top ul{
    display: flex;
    list-style-type: none;
}
.top ul>li{
    margin-left: 10px;
}
.top a{
    text-decoration: none;
    color: darkgray;
}
.top a:hover{
    color: white;
}


.logo_app{
    width: 103px;
    float: left;
}
.logo_app>img{
    width: 100%;
}
.head{
    margin: -15px auto 0;
    width: 1226px;
    height: 74px;
}
.head a{
    text-decoration: none;
    color: black;
}
.head a:hover{
    color: red;
}

.nav>ul>li{
    float: left;
    list-style-type: none;
    height: 74px;
    line-height: 74px;
    margin-left: 60px;
}
.search {
    float: right;
    width: 26px;
    line-height: 74px;
}
.search span{
    font-size: 26px;
}

.search1_box{
    height: 36px;
    line-height: 36px;
    padding: 18px;
    padding-left: 400px;
    display: none;
}
.search1{
    display: flex;
    justify-content: center;
    width: 586px;
    outline: 1px solid rgba(0,0,0,0.4);
    border-radius: 25px;
    background-color:#F2F2F2;
}
.search1>.sousuo{
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: flex;
    justify-content: center;
}
.search1 input{
    width: 514px;
    height: 20px;
    border: none;
    outline: none;
    line-height: 36px;
    background-color:#F2F2F2;
}
.search1>.x{
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: flex;
    justify-content: center;
}
