<div class="container"> 
    <div class="head" #head>
        <div class="logo_app">
            <img src="../../../assets/amages/logo_app.png">
        </div>
        <div class="nav">
            <ul>
                <li><a href="#">华为</a></li>
                <li><a href="#">鸿蒙智行</a></li>
                <li><a href="#">华为智选</a></li>
                <li><a href="#">生态周边</a></li>
            </ul>
        </div>
        
        <div class="search">
            <span class="iconfont icon-sousuo" (click)="search()"></span>
        </div>      
    </div>

    <div class="search1_box" #search1_box>
        <div class="search1">
            <div class="sousuo">
                <span class="iconfont icon-sousuo"></span>
            </div>
            <div class="input">
                <input (keyup.enter)="jump()" placeholder="搜索商品">
            </div>
            <div class="x">
                <span class="iconfont icon-x" (click)="x()"></span>
            </div>
        </div> 
    </div>
</div>
