<app-top></app-top>

<div class="container" >
    <div class="top">
        <div class="left">
            <div class="img">
            <img src="../../../assets/amages/logo_app.png">
            </div>
        
            <div class="title">我的购物车</div>
        </div>
        

        <div class="right">
            <app-progress></app-progress>
        </div>
    </div>

    <div class="body">
        <div class="box1">
            <label
                nz-checkbox
                [(ngModel)]="isAllSelect"
                (ngModelChange)="allselectChange()"
                [nzIndeterminate]="indeterminate"
            >
            <div class="allselect">全选</div>
            </label>
        

            
            <ul>
                <li>商品</li>
                <li>单价</li>
                <li>数量</li>
                <li>小计</li>
                <li>操作</li>                
            </ul>
        </div>

        <div class="box2">
            <div class="indent" *ngFor="let i of data">
                <div class="checkbox">
                    <label 
                        nz-checkbox
                        [(ngModel)]="i[4]" 
                        (ngModelChange)="getSelect(i[0][0].id)">
                    </label>
                </div>
                <div class="image">
                <img src="{{i[0][0].image}}">
                </div>
                <div class="name">{{i[0].name}} {{i[1]}} {{i[2]}}</div>
                <div>{{i[0][0].price}}</div>
                <div class="number" >
                    <button (click)="reducenumber(i[0][0].id)">-</button>
                    <div class="num">{{i[3]}}</div>
                    <button (click)="addnumber(i[0][0].id)">+</button>
                </div>
                <div>{{i[0][0].price*i[3]}}</div>
                <div (click)="delete(i[0][0].id)">删除</div>
            </div>
            
        </div>
    

        <div class="box3">
            <div class="left">
                <label
                    nz-checkbox
                    [(ngModel)]="isAllSelect"
                    (ngModelChange)="allselectChange()"
                    [nzIndeterminate]="indeterminate"
                >
                    <div class="allselect">全选</div>
                </label>
                <div>删除</div>
            </div>

            <div class="right">
                <div>
                    <div class="total" ><span>合计：</span><span >{{totalMoney}}</span></div>
                    <div>已选择 {{number}} 件商品</div>
                </div>
                
                <button routerLink="/affirm">立即结算</button>
            </div>
        </div>
    </div>
</div>
<app-bottom></app-bottom>