.body-container {
    background-color: #F1F3F5;
    padding: 0 100px;
    padding-bottom: 20px;
}

.precinct{ 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.precinct>.precinct_box{
    width: 190px;
    height: 95px;
    background-color: #F1F3F5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.precinct>.precinct_box:hover{
    scale: 1.1;
}
.precinct>.precinct_box>.image{
    padding: 10px;
    width: 48px;
    height: 48px;
}
.precinct>.precinct_box> image{
    width: 100%;
    height: 100%;   
}



.title{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 5px;
    margin-bottom: 30px;
}
.module{
    width: 1212px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.box{
    height: 300px;
    width: 240px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 30px;
}
.box:hover{
    box-shadow: 0 0 15px #d8d8d8;
}
.img-box{
    height: 160px;
    width: 150px;
}
img{
    height: 100%;
}
.name{
    font-size: 13px;
}
.introduce{
    font-size: 12px;
    color: #9f9f9f;
    margin: 10px 0;
}
.price{
    font-size: 16px;
}