<div class="body-container">

    <div class="precinct">
        <div *ngFor="let i of precinctData" class="precinct_box">
            <div class="image"><img src="{{i.image}}"></div>
            <div>{{i.name}}</div>
        </div>
    </div>

    <div class="new">
        <img src="../../../assets/amages/new.webp">
    </div>

    <div class="title">电脑专区</div>
    <div class="module">
        <div class="box"  *ngFor="let i of computerData">
            <div class="img-box"><img src="{{i.image}}"></div>
            <div class="name">{{i.name}}</div>
            <div class="introduce">{{i.introduce}}</div>
            <div class="price">￥{{i.price}}</div>
        </div>
    </div>

    <div class="title">手机专区</div>
    <div class="module">
        <div class="box"  *ngFor="let i of phoneData" (click)="getId(i.id)">
            <div class="img-box"><img src="{{i.image}}"></div>
            <div class="name">{{i.name}}</div>
            <div class="introduce">{{i.introduce}}</div>
            <div class="price">￥{{i.price}}</div>
        </div>
    </div>

</div>
